:root {
  --primaryColor: #fff;
  --navColor1: #2592ba;
  --navColor2: #060b16;
  --navColor3: #270d60;
  --navColor4: #011156;
  --navColor5: #040223;
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}
.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}
.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}
.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}
.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}
.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}
.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}
.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  /* width: 100%; */
  min-height: 100vh;
  /* position: relative; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
  padding: 1rem;
}

section#home {
  background-image: linear-gradient(
      rgba(16, 8, 8, 0.845),
      rgb(1, 3, 34),
      rgba(0, 0, 0, 0.876)
    ),
    url(./img/pexels-rafael-guajardo-604684.jpg);
}

section#about {
  background-color: var(--navColor2);
}

section#skills {
  background-color: var(--navColor3);
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

/* Media Query: Large Smartphone (Vertical) */

.bghome--blur_img {
  margin-top: 5rem;
  width: 100%;
  height: 80vh;
  /* background-color: #333; */
  background-image: linear-gradient(
      rgb(16, 8, 8),
      rgba(1, 3, 34, 0.807),
      rgba(0, 0, 0, 0.846)
    ),
    url(./img/pexels-rafael-guajardo-604684.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(7px);
  /* border-radius: 200% 50% 20% 80%; */
}

.anotherdivv {
  /* background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.144),
    #000000,
    #000000ac
  ); */
  padding: 2rem;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2;
  width: 95%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  text-align: center;
}

.time {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 100px 20px #00000069;
  animation: rotate 10s linear infinite;
  text-align: right;
}

.home-content h1 {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16vh;
}

.anotherdivv h1 {
  font-size: 5.5rem;
  margin: 1em 0;
  font-family: "Open Sans", sans-serif;
}

.anotherdivv h1 u {
  font-weight: 100;
  text-align: center;
}
.anotherdivv p a {
  text-decoration: none;
  background-color: #f44336;
  color: #edf;
  padding: 1.8rem 3.4rem;
  border: none;
  border-radius: 5px;
  font-size: 1.7em;
  font-weight: bold;
  font-family: "Trebuchet MS";
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.59);
}

.anotherdivv p a:hover::before {
  content: "Yea, I love how you want to get started!";
  width: 200px;
  height: 300px;
  background-color: rgb(4, 1, 1);
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 85%;
  top: 17%;
  color: #fff;
  font-weight: 100;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anotherdivv p a:hover {
  background-color: #f44336ae;
  transition: 0.2s ease-in-out;
}

.anotherdivv h1 span {
  color: #2592ba;
}

.marquee {
  margin-top: 3rem;
  background-color: #1c1d1f29;
  display: flex;
  gap: 3rem;
  align-items: center;
  font-size: 2em;
  font-style: oblique;
}

.abt___section {
  padding-top: 3rem;
  /* font-size: 3.5em; */
  display: flex;
  align-items: center;
  font-weight: bolder;
  background-color: #1b1c1d !important;
}

.abt___section h2 {
  font: madefor-display, helveticaneuew01-45ligh, helveticaneuew02-45ligh,
    helveticaneuew10-45ligh, sans-serif;
  font-weight: 300;
  color: #fafbfc;
  line-height: 105px;
  font-size: 74px;
  padding-left: 2rem;
}

.abt___section h2 span {
  font-style: oblique;
  color: #2592ba;
}

#skills {
  background-color: #02080e !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

.tools img {
  width: 50px;
  flex-basis: 5%;
}

.tools div {
  gap: 3rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.tools {
  width: 80%;
  margin: auto;
}

.tools hr {
  border: 1px solid #1531af30;
  width: 50%;
  margin: auto;
}
#skills h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

#projects {
  background-color: #1b1c1d !important;
}

#projects div {
  width: 90%;
  margin: 1rem auto !important;
  border: 2px solid #313233;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  color: white;
  overflow: hidden;
  margin: 1.5rem 0;
  border-radius: 2em;
  cursor: pointer;
}

#projects div h2 {
  font-size: 3rem;
}
#projects div h3 {
  font-size: 3rem;
  color: #4f4f4f;
  font-weight: 100;
}

#projects div:hover {
  h2 {
    transition: all 0.4s ease-in-out;
    padding-left: 1.5rem;
  }
  p,
  h3 {
    border: 2px solid #ff6a00;
    padding: ;
  }
}

#contact div div {
  width: 600px;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.conimg1 {
  background-image: url(./img/pexels-markus-spiske-177598.jpg);
}
.conimg2 {
  background-image: url(./img/pexels-james-wheeler-1519088.jpg);
}
.conimg3 {
  background-image: url(./img/web3.png);
}
.conimg4 {
  background-image: url(./img/web1.png);
}

#contact a {
  display: block;
  margin-bottom: 1rem;
}

#contact .con1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  /* flex-direction: column; */
  flex-basis: 50%;
}
#contact {
  background-color: #fff;
}

#contact h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
#contact h2 span {
  color: #fff;
}

footer {
  padding: 2rem;
  color: #edf;
}

.cp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.cp i {
  font-size: 1.4em;
}

@media (max-width: 1155px) {
  .anotherdivv h1 {
    font-size: 3rem;
  }
  .anotherdivv p a {
    font-size: 1rem;
    padding: 0.8em 1.5rem;
  }
  .anotherdivv img {
    width: 50px !important;
  }
  .abt___section h2 {
    font-size: 2rem;
  }
  #projects div h2,
  #projects div h3 {
    font-size: 1.5rem;
  }
  #projects div {
    width: 80%;
    padding: 2em 1em;
  }
  #contact div div {
    width: 200px;
  }
  #contact a {
    font-size: 1rem;
  }
}

@media (max-width: 651px) {
  .anotherdivv {
    position: absolute;
    top: 40%;
    text-align: left !important ;
  }
  .abt___section h2 {
    line-height: 1.4 !important;
  }
  #projects div h2,
  #projects div h3 {
    font-size: 0.8em !important;
  }
  #skills h2 {
    font-size: 1.4em;
  }
  #projects div h3 {
    display: none !important;
  }
  #projects div {
    justify-content: center !important;
    text-align: center !important;
  }
  #projects div {
    border-radius: 6px;
    padding: 1.2rem;
  }
  section {
    min-height: 0 !important;
  }
  .anotherdivv img {
    margin-top: 2rem !important;
  }

  .anotherdivv {
    text-align: center !important;
    padding: 0 !important;
  }
  .anotherdivv h1 span {
    font-size: 2rem !important;
  }
  #contact .con1 {
    flex-direction: column !important;
  }
  #contact div div {
    width: 100%;
  }
  .cp p {
    font-size: 0.8em;
    color: #f4433686;
  }
  .abt___section h2 {
    font-size: 1.5rem;
    text-align: right;
  }
}
